@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Alumni+Sans+Collegiate+One&family=Big+Shoulders+Inline+Display:wght@500;600;700;800;900&family=Bungee+Spice&family=Cookie&family=Creepster&family=Fleur+De+Leah&family=Foldit:wght@300;400;500;600;700&family=Great+Vibes&family=Hanalei&family=Inspiration&family=Kablammo&family=Kaushan+Script&family=Kings&family=Lobster&family=Lobster+Two:wght@400;700&family=Love+Light&family=Miltonian&family=Monoton&family=Moo+Lah+Lah&family=Nabla&family=Newsreader:opsz,wght@6..72,300;6..72,500;6..72,600&family=Pattaya&family=Playball&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,800;0,900;1,700&family=Puppies+Play&family=Qwitcher+Grypen:wght@400;700&family=Rubik+Burned&family=Rubik+Marker+Hatch&family=Rubik+Maze&family=Rubik+Microbe&family=Rubik+Puddles&family=Sedgwick+Ave+Display&family=Splash&family=Tangerine:wght@400;700&family=Tapestry&family=Tilt+Prism&family=Tourney:wght@100;200;300;400;500;600;700;800&family=Twinkle+Star&display=swap');

/*
Fonts Available 

font-family: 'Aclonica', sans-serif;
font-family: 'Alumni Sans Collegiate One', sans-serif;
font-family: 'Big Shoulders Inline Display', cursive;
font-family: 'Bungee Spice', cursive;
font-family: 'Cookie', cursive;
font-family: 'Creepster', cursive;
font-family: 'Fleur De Leah', cursive;
font-family: 'Foldit', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Hanalei', cursive;
font-family: 'Inspiration', cursive;
font-family: 'Kablammo', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Kings', cursive;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Love Light', cursive;
font-family: 'Miltonian', cursive;
font-family: 'Monoton', cursive;
font-family: 'Moo Lah Lah', cursive;
font-family: 'Nabla', cursive;
font-family: 'Newsreader', serif;
font-family: 'Pattaya', sans-serif;
font-family: 'Playball', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Puppies Play', cursive;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Rubik Burned', cursive;
font-family: 'Rubik Marker Hatch', cursive;
font-family: 'Rubik Maze', cursive;
font-family: 'Rubik Microbe', cursive;
font-family: 'Rubik Puddles', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Splash', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Tapestry', cursive;
font-family: 'Tilt Prism', cursive;
font-family: 'Tourney', cursive;
font-family: 'Twinkle Star', cursive;
*/
